* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0D1116;
}

.flex-container > div {
    margin: 27px;
    text-align: center;
    line-height: 75px;
}

p {
    position: relative;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.2;
}

h2 {
    position: relative;
    font-size: 6em;
    letter-spacing: 10px;
    color: #46164C;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

/* Animation rules */
@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
        color: #46164C;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
        color: #FFFFFF;
        text-shadow: 0 0 10px #F34CF9,
        0 0 20px #F34CF9,
        0 0 40px #F34CF9,
        0 0 80px #F34CF9,
        0 0 160px #F34CF9;
    }
}